@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F9FB;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F7F9FB;
}

::-webkit-scrollbar-thumb {
  background: #7F8C8D;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C3E50;
}
